@import "tailwindcss";

:root {
  --background: #F0F0F0;
  --foreground: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Menghilangkan icon kalender bawaan yang kaku */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.5); /* Supaya iconnya agak abu-abu/gelap */
    margin-right: 10px;
}

/* Mengatur agar teks placeholder terlihat rapi sebelum diisi */
input[type="date"]::before {
    content: attr(placeholder);
    width: 100%;
    color: #9ca3af; /* Warna abu-abu seperti placeholder biasa */
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    display: none;
}
